<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="rtl">
<!-- BEGIN: Head-->

<head>
    <%- include('../partials/authHeader.ejs'); %>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">
    <%- include('../partials/nav.ejs'); %>
    <%- include('../moduls/manageOrder.ejs'); %>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/authFooter.ejs'); %>
    <script>
        var host = '<%- host %>';
        var fields = [];
        var type = 0;
        $('#gameName').change(function() {
            $('#server').empty();
            $('#typeOrder').empty();
            $('#diamonds').empty();
            var gameCode = $('#gameName').val();
            var settings = {
                "url": `${host}/admin/game/views?gameCode=${gameCode}`,
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": {},
            };

            $.ajax(settings).done(function (response) {
                if(response.status === true) {
                    $('#gameError').text();
                    var htmlServerContent = '<option value="">اختيار طريقة الشحن</option>';
                    var htmlDenominationsContent = '';
                    for(var d of response.gameDetails.denominations) {
                        htmlDenominationsContent += '<option value="';
                        htmlDenominationsContent += d.id;
                        htmlDenominationsContent += '" type="0">';
                        htmlDenominationsContent += d.name;
                        htmlDenominationsContent += '</option>';
                        //`<option value="${d.id}">${d.name}</option>`;
                    }

                    var gameName = $('#gameName').val();

                    if(gameName === 'MLBBD_PH') {
                        htmlDenominationsContent += mobileLegendsMoreSpecifiedPackage(response.gameDetails.denominations);
                    }

                    $('#diamonds').append(htmlDenominationsContent);
                    
                    for(var f of response.gameDetails.fields) {

                        /*  

                            htmlServerContent += '<option value="' 
                            htmlServerContent +=  f.type;
                            htmlServerContent += '">';
                            htmlServerContent += f.name;
                            htmlServerContent += '</option>';

                        */
                        

                        if(f.type === 'dropdown') {
                            fields = f.data;
                            type = 1;
                        } else {
                            type = 2;
                            fields = [];
                        }
                    }
                    if(type === 1) {
                        var htmlServerContent = '<option value="">اختيار السرفر</option>';
                        for(var f of fields) {
                            htmlServerContent += '<option value="';
                            htmlServerContent += f.value;
                            htmlServerContent += '">';
                            htmlServerContent += f.name;
                            htmlServerContent += '</option>';
                        }
                        $('#server').empty();
                        $('#server').append(htmlServerContent);
                        $('.zoneID').hide();
                        $('.server').show();
                        $('#addOrder').attr('type', '1');
                        //2
                    } else {
                        $('.zoneID').show();
                        $('.server').hide();
                        $('#addOrder').attr('type', '2');
                    }
                    //$('#typeOrder').append(htmlServerContent);
                    //fields
                } else {
                    $('#gameError').text(response.error.message);
                }
            });
        });
        /*$('#typeOrder').change(function() {
            var typeOrder = $('#typeOrder').val();
            if(typeOrder === 'dropdown') {
                var htmlServerContent = '<option value="">اختيار السرفر</option>';
                for(var f of fields) {
                    htmlServerContent += '<option value="';
                    htmlServerContent += f.type;
                    htmlServerContent += '">';
                    htmlServerContent += f.name;
                    htmlServerContent += '</option>';
                }
                $('#server').empty();
                $('#server').append(htmlServerContent);
            }
        });*/
        function sleep(ms){
            var start = new Date().getTime();
            var end = start;
            while(end < start + ms) {
                end = new Date().getTime();
            }
        }
        function sendRequestAddDiamondsMobileLegendsDiamondsGame (details) {
            return new Promise((resolve, reject) => {
                var settings = {
                        "url": `${host}/admin/user/validate${details.strRequest}`,
                        "method": "POST",
                        "timeout": 0,
                    };
                    //console.log(d)
                    $.ajax(settings).done(function (response) {
                        if(response.status === false) {
                            $('#error_full').text(response.errors.message);
                        } else {
                            $('#error_full').text();
                            console.log(details.denominationId)
                            var settings = {
                                "url": `${host}/admin/order/create?gameCode=${details.gameName}&validationToken=${response.validationToken}&denominationId=${details.denominationId}`,
                                "method": "POST",
                                "timeout": 0,
                            };

                            $.ajax(settings).done(function (response) {
                                //alert()
                                if(response.status === false) {
                                    $('#error_full').text(response.errors.message, 'order number', details.index);
                                    resolve({ status: false });
                                } else {
                                    $('#error_full').text('Success Order number:', details.index);
                                    $('#userId').val('');
                                    $('#zoneId').val('');
                                    resolve({ status: true });
                                }
                            })
                        }
                    }); 
                
            });
        }
        function  mobileLegendsMoreSpecifiedPackage(denominations){
            console.log(denominations)
            var htmlServerContent = '';
            /***************
             * 145 Start
             * *************/

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[0].id + '-' + denominations[1].id + '-' + denominations[3].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '145 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 145 End
             * *************/ // done


            /*************************************************** */

            /***************
             * 279 Start
             * *************/

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[4].id + '-' + denominations[2].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '279 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 279 End
             * *************/ // done


            /*************************************************** */


            /***************
             * 448 Start
             * *************/

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[3].id + '-' + denominations[5].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '448 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 448 End
             * *************/ // done


            /*************************************************** */



            /***************
             * 704 Start
             * *************/ // done

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[3].id + '-' + denominations[1].id + '-' + denominations[6].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '704 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 704 End
             * *************/


            /*************************************************** */


            /***************
             * 1005 Start
             * *************/ // done

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[6].id + '-' + denominations[5].id + '-' + denominations[0].id + '-' + denominations[1].id  + '-' + denominations[1].id + '-' + denominations[1].id + '-' + denominations[1].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '1005 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 1005 End
             * *************/

            /*************************************************** */

            /***************
             * 1733 Start
             * *************/ // done

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[6].id + '-' + denominations[7].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '1733 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 1733 End
             * *************/


            /*************************************************** */


            /***************
             * 2970 Start
             * *************/// done

                htmlServerContent += '<option value="' 
                htmlServerContent +=  denominations[6].id + '-' + denominations[8].id;
                htmlServerContent += '" type="1">';
                htmlServerContent += '2970 Diamonds';
                htmlServerContent += '</option>';

            /***************
             * 2970 End
             * *************/


            /*************************************************** */



            /***************
             * 3560 Start
             * *************/// done

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[8].id + '-' + denominations[7].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '3560 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 3560 End
             * *************/

            /*************************************************** */


            /***************
             * 4133 Start
             * *************/ // done

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[6].id + '-' + denominations[7].id + '-' + denominations[8].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '4133 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 4133 End
             * *************/



            /*************************************************** */


            /***************
             * 4800 Start
             * *************/ // done

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[8].id + '-' + denominations[8].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '4800 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 4800 End
             * *************/



            /*************************************************** */



            /***************
             * 5370 Start
             * *************/

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[8].id + '-' + denominations[8].id + '-' + denominations[6].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '5370 Diamonds';
            htmlServerContent += '</option>';
            
            /***************
             * 5370 End
             * *************/


            /*************************************************** */



            /***************
             * 8442 Start
             * *************/

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[9].id + '-' + denominations[8].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '8442 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 8442 End
             * *************/



            /*************************************************** */



            /***************
             * 12084 Start
             * *************/

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[9].id + '-' + denominations[9].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '12084 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 12084 End
             * *************/





            /*************************************************** */



            /***************
             * 18126 Start
             * *************/

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[9].id + '-' + denominations[9].id + '-' + denominations[9].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '18126 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 18126 End
             * *************/

            /*************************************************** */



            /***************
             * 20500 Start
             * *************/

            htmlServerContent += '<option value="' 
            htmlServerContent +=  denominations[9].id + '-' + denominations[9].id + '-' + denominations[9].id + '-' + denominations[8].id;
            htmlServerContent += '" type="1">';
            htmlServerContent += '20500 Diamonds';
            htmlServerContent += '</option>';

            /***************
             * 20500 End
             * *************/

            return htmlServerContent;
        }
        $('#addOrder').click(async function() {
            var type =  $('#addOrder').attr('type'); 
            var strRequest = '';
            var userId = $('#userId').val();
            var gameName = $('#gameName').val();
            var diamondsGame;
           
            //.log(userId)
            //console.log(gameName)
            //console.log(diamondsGame)

            var issues = false;
            if(gameName === ''){
                $('#gameNameError').text('Required');
                issues = true;
            } else {
                $('#gameNameError').text('');
            }

            if(diamondsGame === ''){
                $('#diamonds_error').text('Required');
                issues = true;
            } else {
                $('#diamonds_error').text('');
            }

            if(!userId){
                $('#id_error').text('Required');
                issues = true;
            } else {
                $('#id_error').text('');
            }

            if(Number(type) === 1) {
                console.log('strRequest_1');
                var server = $('#server').val();
                if(server === '') {
                    $('#server_error').text('Required');
                    issues = true;
                } else {
                    $('#server_error').text('');
                }
                strRequest = `?gameCode=${gameName}&server=${server}&userId=${userId}&type=${type}`;
                console.log(strRequest);
            } else if(Number(type) === 2){
                console.log('strRequest_2');
                var zoneId = $('#zoneId').val();
                if(zoneId === '') {
                    $('#zone_id_error').text('Required');
                    issues = true;
                } else {
                    $('#zone_id_error').text('');
                }
                strRequest = `?gameCode=${gameName}&userId=${userId}&zoneId=${zoneId}&type=${type}`; 
            } 
            
            if(issues) return;
            $('#addOrder').attr('disabled', true); 
            if(gameName === 'MLBBD_PH' && Number($('#diamonds option').filter(':selected').attr('type')) === 1) {
                diamondsGame = $('#diamonds').val();
                diamondsGame = diamondsGame.split('-');
                var i = 0;
                for(var d of diamondsGame) {
                    console.log(d)
                    const responsesendRequestAddDiamondsMobileLegendsDiamondsGame = await sendRequestAddDiamondsMobileLegendsDiamondsGame({
                        strRequest,
                        gameName,
                        denominationId: d,
                        index: i
                    });
                    if(responsesendRequestAddDiamondsMobileLegendsDiamondsGame.status !== true) {
                        alert('حدث خطأ ما تواصل مع المطور من فضلك');
                    }
                    i++;
                    sleep(500);
                }
                window.location.reload();
            } else {
                diamondsGame = $('#diamonds').val();
                var settings = {
                    "url": `${host}/admin/user/validate${strRequest}`,
                    "method": "POST",
                    "timeout": 0,
                };

                $.ajax(settings).done(function (response) {
                    if(response.status === false) {
                        $('#error_full').text(response.errors.message);
                    } else {
                        $('#error_full').text();
                        var settings = {
                            "url": `${host}/admin/order/create?gameCode=${gameName}&validationToken=${response.validationToken}&denominationId=${diamondsGame}`,
                            "method": "POST",
                            "timeout": 0,
                        };

                        $.ajax(settings).done(function (response) {
                            if(response.status === false) {
                                $('#error_full').text(response.errors.message);
                            } else {
                                $('#error_full').text('Success');
                                $('#userId').val('');
                                $('#zoneId').val('');
                                window.location.reload();
                            }
                        })
                    }
                });
            }

       })
    </script>
</body>
<!-- END: Body-->

</html>