<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="rtl">
<!-- BEGIN: Head-->

<head>
    <%- include('../partials/authHeader.ejs'); %>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">
    <%- include('../partials/nav.ejs'); %>
    <%- include('../moduls/manageOrder.ejs'); %>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/authFooter.ejs'); %>
    <script>
        var host = '<%- host %>';
        var fields = [];
        var type = 0;
        $('#gameName').change(function() {
            $('#server').empty();
            $('#typeOrder').empty();
            $('#diamonds').empty();
            var gameCode = $('#gameName').val();
            var settings = {
                "url": `${host}/admin/game/views?gameCode=${gameCode}`,
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": {},
            };

            $.ajax(settings).done(function (response) {
                if(response.status === true) {
                    $('#gameError').text();
                    var htmlServerContent = '<option value="">اختيار طريقة الحشن</option>';
                    var htmlDenominationsContent = '';
                    for(var d of response.gameDetails.denominations) {
                        htmlDenominationsContent += '<option value="';
                        htmlDenominationsContent += d.id;
                        htmlDenominationsContent += '">';
                        htmlDenominationsContent += d.name;
                        htmlDenominationsContent += '</option>';
                        //`<option value="${d.id}">${d.name}</option>`;
                    }
                    
                    $('#diamonds').append(htmlDenominationsContent);
                    
                    for(var f of response.gameDetails.fields) {
                        /*htmlServerContent += '<option value="' 
                        htmlServerContent +=  f.type;
                        htmlServerContent += '">';
                        htmlServerContent += f.name;
                        htmlServerContent += '</option>';*/
                        if(f.type === 'dropdown') {
                            fields = f.data;
                            type = 1;
                        } else {
                            type = 2;
                            fields = [];
                        }
                    }
                    if(type === 1) {
                        var htmlServerContent = '<option value="">اختيار السرفر</option>';
                        for(var f of fields) {
                            htmlServerContent += '<option value="';
                            htmlServerContent += f.value;
                            htmlServerContent += '">';
                            htmlServerContent += f.name;
                            htmlServerContent += '</option>';
                        }
                        $('#server').empty();
                        $('#server').append(htmlServerContent);
                        $('.zoneID').hide();
                        $('.server').show();
                        $('#addOrder').attr('type', '1');
                        //2
                    } else {
                        $('.zoneID').show();
                        $('.server').hide();
                        $('#addOrder').attr('type', '2');
                    }
                    //$('#typeOrder').append(htmlServerContent);
                    //fields
                } else {
                    $('#gameError').text(response.error.message);
                }
            });
        });
        /*$('#typeOrder').change(function() {
            var typeOrder = $('#typeOrder').val();
            if(typeOrder === 'dropdown') {
                var htmlServerContent = '<option value="">اختيار السرفر</option>';
                for(var f of fields) {
                    htmlServerContent += '<option value="';
                    htmlServerContent += f.type;
                    htmlServerContent += '">';
                    htmlServerContent += f.name;
                    htmlServerContent += '</option>';
                }
                $('#server').empty();
                $('#server').append(htmlServerContent);
            }
        });*/
        $('#addOrder').click(function() {
            var type =  $('#addOrder').attr('type'); 
            var strRequest = '';
            var userId = $('#userId').val();
            var gameName = $('#gameName').val();
            var diamondsGame = $('#diamonds').val();
            console.log(userId)
            console.log(gameName)
            console.log(diamondsGame)

            var issues = false;
            if(gameName === ''){
                $('#gameNameError').text('Required');
                issues = true;
            } else {
                $('#gameNameError').text('');
            }

            if(diamondsGame === ''){
                $('#diamonds_error').text('Required');
                issues = true;
            } else {
                $('#diamonds_error').text('');
            }

            if(!userId){
                $('#id_error').text('Required');
                issues = true;
            } else {
                $('#id_error').text('');
            }

            if(Number(type) === 1) {
                console.log('strRequest_1');
                var server = $('#server').val();
                if(server === '') {
                    $('#server_error').text('Required');
                    issues = true;
                } else {
                    $('#server_error').text('');
                }
                strRequest = `?gameCode=${gameName}&server=${server}&userId=${userId}&type=${type}`;
                console.log(strRequest);
            } else if(Number(type) === 2){
                console.log('strRequest_2');
                var zoneId = $('#zoneId').val();
                if(zoneId === '') {
                    $('#zone_id_error').text('Required');
                    issues = true;
                } else {
                    $('#zone_id_error').text('');
                }
                strRequest = `?gameCode=${gameName}&userId=${userId}&zoneId=${zoneId}&type=${type}`; 
            } 
          
            if(issues) return;
            var settings = {
                "url": `${host}/admin/user/validate${strRequest}`,
                "method": "POST",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
               //alert('1');
                if(response.status === false) {
                    $('#error_full').text(response.errors.message);
                } else {
                    //alert('2');
                    //console.log(response.validationToken)
                    $('#error_full').text();
                    var settings = {
                        "url": `${host}/admin/order/create?gameCode=${gameName}&validationToken=${response.validationToken}&denominationId=${diamondsGame}`,
                        "method": "POST",
                        "timeout": 0,
                    };

                    $.ajax(settings).done(function (response) {
                        if(response.status === false) {
                           // alert('3');
                            $('#error_full').text(response.errors.message);
                        } else {
                          //  alert('4');
                            $('#error_full').text('Success');
                            $('#userId').val('');
                            $('#zoneId').val('');
                            window.location.reload();
                        }
                    })
                }
                //console.log(response);
            });
        })
    </script>
</body>
<!-- END: Body-->

</html>